<html>
  <head>
    <link rel="stylesheet" type="text/css" href="fakettp.css" />
    <title>FakeTTP</title>
  </head>
  <body>
    <% @expectations.each_with_index do |expectation, index| %>
      <h1><%= index + 1 %></h1>
      <div class="expectation">
        <pre><%= expectation.render %></pre>
      </div>
    <% end %>
  </body>
</html>
