<html>
  <head>
    <link rel="stylesheet" type="text/css" href="fakettp.css" />
    <title>FakeTTP</title>
  </head>
  <body>
    <% @expectations.each_with_index do |expectation, index| %>
      <div class="request <%= expectation.status %>">
        <h1><%= index + 1 %></h1>
        <div class="expectation">
          <pre><%= expectation.contents %></pre>
        </div>
        <% unless expectation.errors.empty? %>
          <div class="error">
            <pre><%= expectation.errors.first.message %></pre>
          </div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
